@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Fira+Code:wght@300..700&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/*Fuentes*/

/*
    font-family: "Lalezar", system-ui;
    font-family: "Fira Code", monospace;
    font-family: "Days One", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "JetBrains Mono", monospace;
*/

/*CSS*/

.rgsterpage{
  width: 100%;
  height: 100vh;
  background-color: #101618;
  padding: 2rem 1.2rem;
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

.rgsterpage form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rgsterpage form span {
  color: #2D3235;
  background-color: #2D3235;
  margin-bottom: 5vh;
  margin-top: 2vh;
  height: 2px;
  width: 100%;
}

.rgsterpage form h1{
  font-size: 5vh;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 2.8vh;
}

.rgsterpage form h3{
  font-size: 3.8vh;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 1vh;
  align-self: center;
  text-align: center;
}

.rgsterpage form p{
  font-size: 2vh;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-weight: 500;
  margin-top: 1.5vh;
  align-self: center;
  text-align: center;
}

.rgsterpage form p a{
  font-size: 2vh;
  font-family: "Lalezar", system-ui;
  color: #007bff;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.rgsterpage form h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.rgsterpage form div label {
  font-size: 2vh;
  font-weight: 600;
  color: #ffffff;
  font-family: "Days One", sans-serif;
  letter-spacing: 1.2px;
}

.rgsterpage form div{
  width: 100%;
}

input,textarea {
  width: 100%;
  padding: 1.2rem 1rem;
  margin-bottom: 2vh;
  margin-top: 1vh;
  border: 1.5px solid #2D3235;
  border-radius: 15px;
  transition: border-color 0.3s;
  color: #ffffff;
  font-size: 2.4vh;
  font-family: "Poppins", sans-serif;
  background-color: #101618;
}

input::placeholder {
  font-size: 2.4vh;
  font-family: "Poppins", sans-serif;
  color: #2D3235;
  font-weight: 600;
}

input:focus, textarea:focus {
  font-size: 2.4vh;
  font-family: "Poppins", sans-serif;
  color: #2D3235;
  font-weight: 600;
  border: 1.5px solid #42A5F5;
  outline: none;
}


input:valid, textarea:valid {
  font-size: 2.3vh;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 600;
  border: 1.5px solid #42A5F5;
  outline: none;
}

input[type="file"] {
  color: white;
}

.rgsterpage form button {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2.4vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.file-input {
  padding: 0;
  border: none;
  background-color: transparent;
}

.file-label {
  display: block;
  margin-bottom: 1rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.file-label:hover {
  color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.rolsle{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 2vh;
}

.rolsle select {
  padding: 0.5rem 0;
  width: 100%;
  font-size: 2vh;
}

.rolsle select option {
  padding: 0.5rem 0;
  width: 100%;
  font-size: 2vh;
}