@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Fira+Code:wght@300..700&family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Fuentes*/

/*
    font-family: "Lalezar", system-ui;
    font-family: "Fira Code", monospace;
    font-family: "Days One", sans-serif;
    font-family: "Poppins", sans-serif;
*/

/*CSS*/

.like-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.like-button.liked {
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 0 1.5rem;
    border-radius: 5px;
    background-color: #ce6060;
    font-family: "Days One", sans-serif;
    font-weight: 300;
    letter-spacing: 1.3px;
    font-size: 2.2vh;
}
.like-button.noliked {
    color: rgb(0, 0, 0);
    height: 100%;
    padding: 0 1.5rem;
    border-radius: 5px;
    background-color: #ccc;
    font-family: "Days One", sans-serif;
    font-weight: 300;
    letter-spacing: 1.3px;
    font-size: 2.2vh;
}

.curso{
    color: white;
    width: 100%;
    height: 84vh;
    overflow: auto;
    padding: 0.8rem;
    background-color: #1B2832;
}

.curso h2{
    font-size: 2.4vh;
    margin: 1.5vh 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.3px;
}

.curso .views{
    display: flex;
    align-items: center;
    height: 3vh;
    gap: 10px;
    font-size: 2.2vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    color: #768793;
}

.techerimg{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.4vh;
    color: #C6CDD2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 2vh 0;
    margin-top: 4vh;
}

.techerimg img{
    border-radius: 50%;
    width: 6vh;
    object-fit: cover;
}

.curso p{
    font-size: 2.3vh;
    margin-bottom: 1.5vh;
    font-family: "Days One", sans-serif;
    font-weight: 300;
    letter-spacing: 1.3px;
}

.curso .flx-vlike{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 2.5vh 0;
}

.curso .flx-vlike p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.curso .flx-vlike .like-button{
    height: 100%;
    padding: 0 1.5rem;
    border-radius: 5px;
}

.curso .courdesc{
    padding: 1rem 1rem;
    border-radius: 20px;
    font-size: 1.7vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.3px;
    text-align: justify;
    background-color: #16222A;
    border: 2px solid #1B2832;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1.4rem 0;
}

.curso .curso-video{
    width: 100%;
    height: auto;
}

.curso h3{
    font-size: 3vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.3px;
}

.curso .temario{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border-radius: 10px;
    background-color: #16222A;
    margin-top: 2vh;
    border: 2px solid #253541;
}

.curso .temario .tmop{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.7vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1.3px;
    border-bottom: 2px solid #253541;
}

.curso .temario .tmop.active{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.7vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: rgba(37, 53, 65, 0.5);
    letter-spacing: 1.3px;
    color: #FBC451;
    border-bottom: 2px solid #253541;
}

.curso .contenido{
    width: 100%;
    margin: 1rem 0;
}

.curso .contenido p{
    color: #085089;
    font-size: 1.8vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.curso .tmrioscreen{
    width: 100%;
    height: auto;
}